{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-lg">

            <div class="card-body">

                <h2 class="text-center mb-4">
                    User Login
                </h2>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary w-100">
                        Login
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}